.chartItems_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 15px;
}

.chartItems_container .chart_table,
.chartItems_container .charts {
    padding: 0 20px;
    font-size: 20px;
}

.chartItems_container .chart_table svg,
.chartItems_container .charts svg {
    font-size: 20px;
}

.chartItems_container .chart_table p,
.chartItems_container .charts p {
    font-size: 12px;
}

.chartItems_container .btn {
    height: 53px;
}

.chart_table .position-fixed {
    z-index: 11
}

.chartItems_container .active {
    display: none;
}

.chartItems_container .hidden {
    display: block;
}

.chartItems_container .items_container {
    z-index: 1111;
    position: absolute;
    height: 204px;
    transform: translate(66px, -23px);
    padding: 6px;
    border: 1px solid #1D81A2;
    background-color: #f9f9f9fe;
}

.chartItems_container .items_container .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    height: 57px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.chartItems_container .items_container .item svg {
    font-size: 40px;
}

.chartItems_container .items_container .item:hover {
    background-color: #1D81A2;
    color: #fff;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
}

.chartItems_container .icon_chartItems {
    display: flex;
        font-size: 18px;
        margin-top: -30px;
        border: 1px solid #ccc;
        height: 23px;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
}